{% extends "CaeferFacebookCanvasAppBundle:Default:layout_app.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block content %}
    <div class="span-5">
        <ul>
          <li><a href="{{ path('caefer_public') }}">public</a></li>
          <li><a href="{{ path('caefer_secure_1') }}">secure 1</a></li>
          <li><strong>secure 2</strong></li>
        </ul>
    </div>
    <div class="span-16 push-1 last">
        <h1>Secure 2!</h1>
        <p>
            This page is secured and only available for Facebook users who granted the <em>read_stream</em>
            and <em>create_event</em> permissions to this app.
        </p>
    </div>
{% endblock %}
